<!-- begin post -->
<!-- {% assign author = site.authors[post.author] %}
<div class="card"> -->

        <!-- {% if post.image %} <img class="rounded mb-4" src="{{ site.baseurl }}/{{ post.image }}" alt="{{ post.title }}"> {% endif %} -->

        <!-- {% if page.url == "/" %} 
        <div class="rounded mb-1 hero-two">
          <div class="row align-items-center justify-content-between">
            <div>
              <p class="lead mb-4 h4 sans-font">{{ post.title }}<p>
              
              
            </div>
            
          </div>
        </div>
        {% endif %} -->


    <!-- <div class="card-block">
        <h2 class="card-title h4 serif-font">{{ post.title }}</h2>
       
  
    </div> -->
<!-- </div> -->
<!-- end post -->