---
layout: default
---

<br>
<br>
<br>


<div class="container">
  
  
  <div class="row">
    <div class="col-md-4">
      <!-- Post Featured Image -->
      {% if page.image %}
      <div class="text-center mx-auto mb-5">
        <img class="featured-image text-center mx-auto rounded" src="{{ site.baseurl }}/{{ page.image }}"
          alt="{{ page.title }}">
      </div>
      {% endif %}
      <!-- End Featured Image -->

    </div>

    <div class="col-md-8">
      <div class="col-lg-8 mx-auto">

        <div class="mainheading">
          <h1 class="posttitle">{{ page.title }}</h1>
        </div>

        <div class="article-post sans-font">
          {{content}}
        </div>

        {% if page.comments == true %}
        <div id="comments">
          {% include disqus.html %}
        </div>
        {% endif %}

      </div>

    </div>
  </div>

</div>